

body {
  background-color: #FEC5E5;
}

body {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  min-height: 100vh;       /* Takes full height of the viewport */
  margin: 0;               /* Removes default browser margins */
}
