

body {
  background-color: #FEC5E5;
}

.center-text {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  height: 100vh;

